In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

driver = webdriver.Firefox()
driver.get('https://www.premierleague.com/stats/top/players/goals?se=-1')

In [5]:
my_ranks = driver.find_elements_by_xpath('//td[@class="rank"]')
rank = []
for r in my_ranks:
    rank.append(r.text)
print(rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [8]:
#playerName
playerNames = driver.find_elements_by_xpath('//a[@class="playerName"]')
names = []
for n in playerNames:
    names.append(n.text)
print(len(names))

20

In [7]:
#mainStat text-centre
goals = driver.find_elements_by_xpath('//td[@class="mainStat text-centre"]')
num_goals = []
for g in goals:
    num_goals.append(g.text)
print(num_goals)

['260', '208', '187', '184', '177', '175', '166', '163', '162', '150', '149', '146', '144', '127', '126', '125', '123', '120', '118', '113']

In [9]:
All_nationalities = driver.find_elements_by_xpath('//span[@class="playerCountry"]')
nationalities = []
for n in All_nationalities:
    nationalities.append(n.text)
print(len(nationalities))

20

In [30]:
data = {'Rank':rank, 'Name':names, 'Number of goals':num_goals, 'Nationalities':nationalities}
data1 = pd.DataFrame(data)
data1.head()

  Rank           Name Number of goals Nationalities
0    1   Alan Shearer             260       England
1    2   Wayne Rooney             208       England
2    3    Andrew Cole             187       England
3    4  Sergio Agüero             184     Argentina
4    5  Frank Lampard             177       England

In [32]:
data1.to_csv("data1.csv", index=False)
driver.close()

In [37]:
data2 = pd.read_json (r'players_stats.json')
print(len(data2))

21

In [27]:
data2.to_csv ('data2.csv', index = False)
data2.head()

,Name,Height_cm,Appearances,Wins,Losses,Goals_per_match,Assists,Yellow_cards,Red_cards
0,Michael Owen,173,326,142,95,0.46,31,10,1
1,Jermain Defoe,171,496,185,188,0.33,33,40,2
2,Harry Kane,188,245,136,57,0.68,34,27,0
3,Mohamed Salah,175,158,107,21,0.61,34,4,0
4,Romelu Lukaku,190,252,112,80,0.45,35,19,0

In [36]:
all_data = pd.merge(data1, data2, how='left', on=['Name'])
print(len(all_data))
all_data.head()

20

,Rank,Name,Number of goals,Nationalities,Height_cm,Appearances,Wins,Losses,Goals_per_match,Assists,Yellow_cards,Red_cards
0,1,Alan Shearer,260,England,183.0,441.0,203.0,129.0,0.59,64.0,41.0,2.0
1,2,Wayne Rooney,208,England,176.0,491.0,284.0,103.0,0.42,103.0,102.0,3.0
2,3,Andrew Cole,187,England,178.0,414.0,206.0,106.0,0.45,73.0,40.0,6.0
3,4,Sergio Agüero,184,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Frank Lampard,177,England,184.0,609.0,349.0,127.0,0.29,102.0,59.0,2.0