In [20]:
for n in range(5):
    print(n, end=' ')

0 1 2 3 4

In [22]:
f = 123.45678
print("{:.2f}".format(f))

123.46

In [23]:
num = int(input("Enter first number : "))
f_num = []
for i in range(num):
    num1 = float(input("Enter first number : "))
    f_num.append(num1)
print(f_num)

Enter first number : 5
Enter first number : 7.6
Enter first number : 5.4
Enter first number : 6.7
Enter first number : 2.3
Enter first number : 8.5
[7.6, 5.4, 6.7, 2.3, 8.5]

In [24]:
import os
os.stat("new_file").st_size == 0

True

In [59]:
sampleJson = {"id": 1, "name": "value2", "age": 29}

import json
# from collections import OrderedDict

# print(json.dumps(OrderedDict(sorted(sampleJson.items())), indent=4))
print(json.dumps(sampleJson, indent=4, sort_keys=True))

{
    "age": 29,
    "id": 1,
    "name": "value2"
}

In [60]:
Json = [
    {
        "id": 1,
        "name": "name1",
        "color": [
            "red", 
            "green"
        ]
    },
    
    {
        "id": 2,
        "name": "name2",
        "color": [
            "pink", 
            "yellow"
        ]
    }
]

# import json 
# J1 = json.loads(json.dumps(Json))
# print(J1)

l = []

for i in Json:
    l.append(i['name'])
    
print(l)

['name1', 'name2']

In [19]:
import pandas as pd
df = pd.read_csv('Data.csv')
df.head(5)
# df.tail(5)

,Unnamed: 0,index,ID,Make,Model,Year,MSRP,Invoice,Colors exterior,Colors interior,...,Country of origin,Car classification,Platform code / generation number,Date added,EPA mileage (mpg) City,EPA mileage (mpg) Highway,Range (miles) City,Range (miles) Highway,MSRP Range low,MSRP Range high
0,0,13,213,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,23.0,262.4,377.2,NaN,NaN
1,1,14,216,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,22.0,262.4,360.8,NaN,NaN
2,2,15,222,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,15.0,22.0,246.0,360.8,NaN,NaN
3,3,16,218,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,22.0,262.4,360.8,NaN,NaN
4,4,17,215,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,22.0,262.4,360.8,NaN,NaN

In [16]:
max_num = 0
summ = 0
with open("data.txt", "r") as data:
    Lines = data.readlines()
    for l in Lines:
        num = abs(int(l))
        if num > max_num:
            max_num = num
        summ += num

print(max_num * summ)

1200