# َ#Q1

In [5]:
x=6
y=4
x+y

10

In [6]:
x-y

2

In [7]:
x*y

24

In [8]:
y/x

0.6666666666666666

# Q2

In [9]:
students=[
{"id": 1,"name": "Tom", "grade": 10},
{"id": 2,"name": "Mark", "grade": 5},
{"id": 3,"name": "Pam", "grade": 7}
]

In [12]:
print(students)

[{'id': 1, 'name': 'Tom', 'grade': 10}, {'id': 2, 'name': 'Mark', 'grade': 5}, {'id': 3, 'name': 'Pam', 'grade': 7}]

In [13]:
grades=students[0]["grade"] + students[1]["grade"] + students[2]["grade"]
avg_grades=grades/3
print(avg_grades)

7.333333333333333

# Q3

In [14]:
x = 5
y = 10
z = x
x = y
y = z
print(x)
print(y)

#we can do that => x, y = y, x

10
5

# Q4

In [36]:
import datetime
now = datetime.datetime.now()
print (now.strftime("%Y-%m-%d %H:%M:%S"))
print (now.strftime("%H:%M:%S"))

2021-04-13 13:34:29
13:34:29

In [37]:
num = [1,2,3,4,5]
odds = num[1] + num[3] 
evens = num[0] + num[2] + num[4]
print(odds)
print(evens)

6
9

# Q5

In [46]:
word = "ahmed"
print(word[::-1])

demha

# Q6

In [26]:
n = "123"
m = int(n)
print(m)

123

# Q7

In [2]:
import calendar
y = 2017
m = 11
print(calendar.month(y, m))

   November 2017
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

# Q8

In [5]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
zipped = zip(keys, values)
print(list(zipped))

[('Ten', 10), ('Twenty', 20), ('Thirty', 30)]

# Q9

In [28]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1 = set2 | set1
print(sorted(set1))

[10, 20, 30, 40, 50, 60, 70]

# Q10

In [15]:
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

# Q11

In [30]:
list1 = [9,"I’m", "", " learning ", " python ", "", " at ITI"] 
list1 =  list(filter(None, list1))
print(list1[1:])

['I’m', ' learning ', ' python ', ' at ITI']

# Q12

In [ ]:
#1- is comment

In [22]:
#2
str1 = 'mostafa'
print(str1 + 3 * 'saad')

mostafasaadsaadsaad

In [24]:
#3
str = 'Moustafa'
len = len(str)
str = str * 2 * len
print(len(str))

TypeError: 'int' object is not callable